<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
	<div id="hello">
		<div v-if="message == 'hello'" v-bind:title="message">
			<div>1.获取数据信息</div>
			{{message}}
			<br/>{{rawHtml}}<span v-html="rawHtml"></span>
			<div>2.v-for获取数据信息</div>
			<ul>
				<li v-for="(user, index) in users">{{message}}-{{index}}-{{user.name}}-{{user.age}}</li>
			</ul>
		</div>
		<div v-once>{{name.name}}</div>
		<button id="changeName" @click="changeName">更改名字</button>
		<input v-model="name.name">
		<div v-for="(value, key, index) in name">{{index}}-{{key}}-{{value}}</div>
		<ul><channel-list v-for="user in users" v-bind:user="user" v-bind:key="user.name"></channel-list></ul>
		<div>性别：{{sex[0]}}</div>
		<button id="changeSex" @click="changeSex">更改性别</button>
		<div v-if="show">这个内容可以看到！vue不能看到的内容不会在页面渲染</div>
		<div v-if="hide">这个内容不能被看到~</div>
		<div><a :href="baidu" target="_blank" @click="preventDefault($event)">百度一下</a></div>
		<div>计算属性-缓存：{{reverseMessage}}</div>
		<div>方法：{{reverseMessageMethod()}}</div>
		<div>setter方法测试：{{fullName}}</div>
		<div>
			<p><input v-model="question"></p>
			<p>The answer is : {{answer}}</p>
		</div>
		<h1>事件处理</h1>
		<button @click="counter += 1">点击加1</button>
		<p>点击次数：{{counter}}</p>
		<button @click="greet">打个招呼吧~</button>
		<h1>事件修饰符(.stop;.prevent;.capture;.self;.once;)</h1>
		<h2>.stop、.self和.prevent</h2>
		<div @click.self="divStopTest"><a :href="baidu" @click.prevent.stop="aStopTest" target="_blank">aStopTest</a></div>
		<div @click.self="divStopTest" style="border:1px solid blue"><a :href="baidu" @click="aStopTest" target="_blank" style="border:1px solid red">aStopTest</a></div>
		<div @click.prevent.self="divStopTest" style="border:1px solid blue"><a :href="baidu" style="border:1px solid red">@click.prevent.self</a></div>
		<div @click.self.prevent="divStopTest" style="border:1px solid blue"><a :href="baidu" style="border:1px solid red">@click.self.prevent</a></div>
		<h2>.capture</h2>
		<div><a :href="baidu" @click.capture="captureTest"  target="_blank">capture测试</a></div>
		<h2>.self</h2>
		<h2>.once</h2>
		<a href="javascript:void(0);" @click.once="onceOnly">只能点击一次</a>
		<div v-on:scroll.passive="onScroll" style="width:200px;height:100px;overflow:scroll;">
			scrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscroll
			scrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscroll
			scrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscroll
			scrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscroll
			scrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscroll
			scrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscroll
			scrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscroll
			scrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscroll
			scrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscroll
			scrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscroll
			scrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscroll
			scrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscroll
			scrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscroll
			scrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscroll
			scrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscroll
			scrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscrollscroll
		</div>
		<input @keyup.enter="ok">
		<input @keyup.enter="notok" @keyup.delete="del">
	</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
<script src="../js/vue.dev.js"></script>
<script src="../js/hello.js"></script>