<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
	<div id="hello">
		<div v-if="message == 'hello'" v-bind:title="message">
			<div>1.获取数据信息</div>
			{{message}}
			
			<div>2.v-for获取数据信息</div>
			<ul>
				<li v-for="user in users">{{user.name}}-{{user.age}}</li>
			</ul>
		</div>
		<div>{{name.name}}</div>
		<button id="changeName" @click="changeName">更改名字</button>
		<input v-model="name.name">
		<ul><channel-list v-for="user in users" v-bind:user="user"></channel-list></ul>
		<div>性别：{{sex[0]}}</div>
		<button id="changeSex" @click="changeSex">更改性别</button>
	</div>
</body>
</html>
<script src="../js/vue.dev.js"></script>
<script src="../js/hello.js"></script>